@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid $gray-lighter;
  padding: 0.5em 1em;

  .copyright {
    float: left;
  }

  .links {
    float: right;
  }

  p {
    color: $gray-light;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    float: left;

    &:first-child {
      margin-right: 15px;
    }

    a {
      color: $gray-light;
    }

    a:hover,
    a:active,
    a:focus {
      text-decoration: none;
      color: $gray;
    }
  }
}

@include breakpoint(tablet) {
  .Footer ul li:first-child {
    margin-right: 30px;
  }
}
