@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

:root {
  .Index {
    padding: 20px;
    background-color: $cb-blue;
    text-align: center;
    border-radius: 3px;
    color: #fff;

    div.horizontal-buttons {
      display: flex;
      justify-content: space-around;
    }

    img {
      width: 100px;
      height: auto;
      margin: 0 auto;
    }

    footer {
      margin: 20px -20px -20px;
      border-top: 1px solid darken($cb-blue, 10%);
      padding: 20px;

      p {
        font-size: 14px;
        line-height: 22px;
        color: lighten($cb-blue, 35%);
        margin: 0;
      }

      p a {
        color: lighten($cb-blue, 35%);
        text-decoration: underline;
      }
    }
  }

  @include breakpoint(tablet) {
    .Index {
      padding: 30px;

      footer {
        margin: 30px -30px -30px;
      }
    }
  }

  @include breakpoint(desktop) {
    .Index {
      padding: 40px;

      footer {
        margin: 40px -40px -40px;
      }
    }
  }
}
