@import './mixins';
@import './colors';

.page-header {
  margin-top: 0;
  display: flex;

  h1,h2,h3,h4,h5,h6 {
    flex-grow: 1;
  }
}

@include breakpoint(tablet) {
  .page-header {
    margin-top: 20px;
  }
}

.mdc-snackbar {
  z-index: 100;
}

.mdc-text-field {
  & > input {
    margin-top: 0.5rem;
  }
}

.mdc-text-field--textarea {
  display: flex;
  flex-direction: column;
  border-width: 1px;

  &.mdc-text-field--focused {
    border-width: 2px;
  }

  :root & {
    border-color: $gray-lighter;
  }

  .mdc-floating-label {
    background: transparent;
  }

  .mdc-line-ripple {
    display: none;
  }

  & > textarea.mdc-text-field__input {
    border: none;
    resize: none;
  }
}

form {
  [class^='mdc-'], [class*=' mdc'] {
    &[class*='-field-'] , &[class*='-button-'] {
      &:not(.upgrade-specificity) {
        margin: 0.5em 0;
      }
    }
  }
}

table {
  width: 100%;
  border: 2px solid $gray-lighter;
  border-collapse: collapse;

  thead {
    border-bottom: 2px solid $gray-lighter;
  }

  th, td {
    padding: 0.5em;
  }

  @media screen and (max-width: 40em) {
    &.responsiveTable {
      border: none;

      thead {
        border: none;
      }

      tbody tr {
        border: 1px solid $gray-lighter;
        padding: .25em;
      }
    }
  }
}
