@import './mixins';

.page-header {
  margin-top: 0;
}

@include breakpoint(tablet) {
  .page-header {
    margin-top: 20px;
  }
}

.mdc-text-field--textarea .mdc-floating-label {
  background: transparent;
}

form {
  [class^='mdc-'], [class*=' mdc'] {
    &[class*='-field-'] , &[class*='-button-'] {
      &:not(.upgrade-specificity) {
        margin: 0.5em 0;
      }
    }
  }
}
