@import './mixins';

.page-header {
  margin-top: 0;
}

@include breakpoint(tablet) {
  .page-header {
    margin-top: 20px;
  }
}

.mdc-card {
  &.Alert {
    padding: 1em;
    background-color: #d9edf7;
  }
}

.mdc-text-field--textarea .mdc-floating-label {
  background: transparent;
}

form {
  [class^='mdc-'], & > [class*=' mdc-'] {
    &:not(.upgrade-specificity) {
      margin: 0.5em 0;
    }
  }
}
