@mixin heading-sizes($ratio: 0.1, $weight: 400) {
  h1,h2,h3,h4,h5,h6 {
    line-height: 1.1em;
    font-weight: $weight;
  }

  @for $index from 1 through 6 {
    h#{$index} {
      $fontsize: 1em + (6 - $index) * $ratio;
      font-size: $fontsize;
      margin: ($fontsize / 2) 0 ($fontsize / 2.5) 0;
    }
  }
}
